@mixin keyframes {
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes icon {
    0% { fill: $light-grey; }
    100% { fill: $leaf; }
  }

  @keyframes pop {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1, .95, 1);
    }
    40% {
      transform: scale3d(.85, 1.05, 1);
    }
    50% {
      transform: scale3d(1, .98, 1);
    }
    65% {
      transform: scale3d(.98, 1.01, 1);
    }
    75% {
      transform: scale3d(1, .99, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
}
