$status-map: ('warnings': $warning, 'error': $error, 'success': $valid, 'processing': $brand-status-info, 'processed': $font-primary, 'global-error': $error);

@mixin status-panels-status {
  @each $status, $colour in $status-map {
    .#{$status} {
      color: $colour;
      border-color: $colour;
      box-shadow: 0 0 13px 0 rgba($colour, .2), 0 1px 9px 0 rgba($colour, 0);
    }
  }
}
