.feed {
  display: grid;
  font-size: 12px;
  padding: 5px;
  @include mobile {
    padding: 20px;
  }
  align-items: center;
  @include tablet-desktop {
    grid-template-columns: 3% 3% 94%;
  }
  @include mobile {
    & div {
      padding: 10px;
    }
  }
  &-title {
    font-size: 14px;
  }

  &-author {
    color: $light-grey;
    font-size: 10px;
    margin-left: 5px;
  }

  &-arrow {
    width: 10px;
    height: 10px;
    border: 0px;
    margin: 3px 2px 6px;
  }

  &-hide {
    cursor: pointer;
  }

  &-pad-left {
    padding-left: 5px;
  }
}

.upvote {
  cursor: pointer;
}

.comments {
  @include mobile {
    padding-right: 10px;
  }
}
