.login-page {
  padding-top: 32px;
}

.messages-container {
  font-size: 12px;
  margin-bottom: 12px;
  .notification {
    color: $brand-status-success;
    display: block;
  }

  .error {
    color: $error;
    display: block;
  }
}

.password-panel {
  &-email {
    padding: 10px 0;
    display: flex;
  }
  &-email-btn {
  }
}

.email-link-wrapper {
  margin-top: 10px;
  display: flex;
  position: relative;

  &:hover .email-link-helper {
    display: inline-block;
  }
}

.email-link {
  padding: 5px 10px;
  border-radius: 20px;
  border: solid 1px $brand-grey-lighter;
  font-size: map_get($paragraph-sizes, 'sm');

  &:hover {
    cursor: pointer;
  }
}

.email-link-helper {
  display: none;
  padding: 5px 10px;
  margin-left: 5px;
  background-color: $white;
  box-shadow: $panel-box-shadow;
  border-radius: 20px;
  color: $brand-primary-blue;
  font-size: map_get($paragraph-sizes, 'sm');
}

.login-error-message {
  color: $error;
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}
